<main>
  <section class="main-exchange-container">
      <div class="main-exchange-container--title">
          <h2>¿Qué es la Certificación en Desarrollo Seguro?</h2>
          <p>
            La Certificación en Desarrollo Seguro es un programa que garantiza que los colaboradores de la empresa han adquirido los conocimientos y habilidades esenciales para crear aplicaciones y servicios digitales seguros desde el diseño hasta la implementación.<br/>
          </p>
          <p>
            En Meraki esta certificación es fundamental, ya que asegura que todo el equipo domina las mejores prácticas de seguridad en el ciclo de vida del software, un requisito esencial para nuestro cliente BBVA. Al trabajar con clientes de alto estándar como BBVA, la certificación en desarrollo seguro es indispensable para cumplir con sus exigencias y reafirma nuestro compromiso con la seguridad digital en el desarrollo de software.
          </p>
      </div>
      <div class="main-exchange-container--title">
        <h2>Net4Skills</h2>
        <p>
          En colaboración con <a class="product--card-body-link-rules"  target="_blank"   href="https://www.net4skills.com/">Net4Skills</a>, una reconocida empresa especializada en formación y certificación tecnológica, Meraki garantiza que sus colaboradores obtengan la mejor preparación en desarrollo seguro. Net4Skills, como proveedor líder de programas de certificación, es responsable de guiarnos en el proceso de evaluación y certificación.<br/>
        </p>
    </div>
  </section>
  <section class="main-product-datail">
      <div class="main-exchange-container--title">
          <h2>¿Cómo se Realiza la Certificación?</h2>

      </div>
      <section class="product-cards--container">
          <article class="product-detail--card">
              <p class="product--card-title">Envio de la evaluación</p>
              <p class="product--card-body">Los colaboradores de Meraki reciben un correo de Netec (notificacionesnetec.com) en su cuenta corporativa, con toda la información necesaria para acceder a la evaluación.</p>
              <p class="product--card-body">
              Fecha y Duración del Examen: Los detalles específicos del período de tiempo en el cual se debe completar la certificación.
              Link de Acceso: Un enlace directo a la plataforma de Net4Skills donde se realiza el examen.
              Usuario y Contraseña: Credenciales individuales para ingresar a la plataforma de certificación.
              Este sistema garantiza que cada colaborador tenga acceso personalizado y seguro a los recursos y evaluaciones, facilitando así el cumplimiento del requisito de certificación en desarrollo seguro, esencial para Meraki y sus clientes.</p>
          </article>
      </section>
      <section class="product-cards--container">
        <article class="product-detail--card">
            <span class="money"></span>
            <p class="product--card-title">Recomendaciones y reglamento</p>

            <p class="product--card-body">Los exámenes de certificación virtuales del centro de certificación Net4Skills son supervisados por un Proctor humano y digital, y cualquier acción contraria al reglamento puede resultar en la cancelación del examen, independientemente del resultado colsulta más información <a class="product--card-body-link-rules"  target="_blank"  href="https://www.net4skills-certificaciones.netecdigital.com/manual-examenesv-mexico" >Aqui</a></p>

            <p class="product--card-title">Antes de iniciar el examen</p>

            <p class="product--card-body">
              Sitúese en un espacio privado y tranquilo con iluminación adecuada; evite las fuentes de luz frente a la cámara que provoquen oscuridad.
            </p>

            <p class="product--card-body">
              Antes de iniciar, es fundamental elegir un espacio privado y bien iluminado, descargar la extensión <a href="https://chromewebstore.google.com/detail/proctorizer/kdkdbboalbdaiacbkddekbiaijhlfdal">Proctorizer</a> en Google Chrome, desactivar notificaciones y cerrar aplicaciones. </p>

            <p class="product--card-body">
              Desactive las notificaciones para evitar la aparición de ventanas emergentes y cierre todas las aplicaciones.
            </p>

            <p class="product--card-body">
              Habilite la barra de herramientas en la configuración del equipo; durante el examen debe permanecer visible en todo momento.
            </p>

            <p class="product--card-body">
              Verifique que no tenga actualizaciones o algún reinicio programado que pueda interrumpir el desarrollo del examen.
            </p>

            <p class="product--card-body">
              Desconecte los monitores adicionales del equipo de cómputo.
            </p>

            <p class="product--card-title">Durante el examen</p>

            <p class="product--card-body">
              Para garantizar un alto nivel de seguridad, será supervisado en todo momento por el Proctor. Se realizarán grabaciones de video desde la cámara del equipo de cómputo donde realiza el examen, así como capturas de pantalla.
            </p>

            <p class="product--card-body">
              Debe mantenerse en la sesión de Teams con la cámara prendida y el micrófono activo.
            </p>

            <p class="product--card-body">
              Debe ser la única persona en el sitio, sea sala, habitación, aula u oficina.
            </p>

            <p class="product--card-body">
              No debe usar ningún equipo externo ni asistencia de Internet; a modo de ejemplo, dispositivos móviles, computadoras portátiles, tabletas, unidades extraíbles, cámaras, dispositivos de grabación, búsquedas en Internet, libros, notas, papel o documento.
            </p>

            <p class="product--card-body">
              Está prohibido voltear la cabeza, hablar o interactuar con otras personas, ausentarse de su lugar o leer en voz alta las preguntas. Deberá mantener la vista fija en su pantalla y no alejarse del monitor hasta que haya finalizado el examen. No deberá tener ningún objeto adicional en el escritorio más que el equipo de cómputo.
            </p>

        </article>
    </section>
      <section class="product-cards--container">
          <article class="product-detail--card">
              <p class="product--card-title">Estudio y recursos</p>
              <p class="product--card-body">Los colaboradores deben estudiar  el material disponible.
            </p>
              <p class="product--card-body">
                Acontinucion encontrarán un link a la documentación de estudio que abarca todas las áreas esencialesque les permitirá prepararse de manera efectiva para la evaluación.
              </p>
              <a class="product--card-body-link" target="_blank" href="https://platform.bbva.com/cells/documentation/2e422acf986848910d72b9497554b687/getting-started/what-is-cells" >BBVA DOCUMENTACIÓN</a>
              <a class="product--card-body-link"  target="_blank" href="https://bbva-culturasteel.appspot.com/cells-basic/" >BBVA BiblioTI</a>
              <button class="product--card-body-btn" (click)="downloadExcel()">Banco de preguntas</button>
          </article>
      </section>
  </section>

  <section></section>
  <section></section>
</main>
